
// Colors
$primary-color: #f1f1f1;
$secondary-color: rgba(0, 20, 40, 1);
$text-color: #515d67;
$valid-color: #4e6e5d;
$negative-color: #a72608;

// Board
$tile-size: 90px;
$tile-size--large: 150px;
$tile-spacing: 6px;

// Creates part of the game winning animation. 
// One for each of the 3 tiles.
@mixin winning-animation($type, $delay) {
  .tile:nth-of-type(#{$type}) {
    background: $valid-color;
    color: #fff;
    transition: all 250ms cubic-bezier(1, 0.14, 0, 0.91) #{$delay}ms;
  }
}



//
// Tic Tac Toe
//
html, body {
  background: $primary-color;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Anaheim', sans-serif;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

// contains the game tiles
.board {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 500ms ease;
  transform: translate(-50%, -50%);
  height: $tile-size*3 + $tile-spacing*2;
  width: $tile-size*3 + $tile-spacing*2;
  margin: auto;
  @media (min-width: 768px) {
    height: $tile-size--large*3 + $tile-spacing*2;
    width: $tile-size--large*3 + $tile-spacing*2;
  }
  &.top-row {
    @include winning-animation(1, 0);
    @include winning-animation(2, 250);
    @include winning-animation(3, 500);
  }
  &.middle-row {
    @include winning-animation(4, 0);
    @include winning-animation(5, 250);
    @include winning-animation(6, 500);
  }
  &.bottom-row {
    @include winning-animation(7, 0);
    @include winning-animation(8, 250);
    @include winning-animation(9, 500);
  }
  &.left-col {
    @include winning-animation(1, 0);
    @include winning-animation(4, 250);
    @include winning-animation(7, 500);
  }
  &.middle-col {
    @include winning-animation(2, 0);
    @include winning-animation(5, 250);
    @include winning-animation(8, 500);
  }
  &.right-col {
    @include winning-animation(3, 0);
    @include winning-animation(6, 250);
    @include winning-animation(9, 500);
  }
  &.diag-up {
    @include winning-animation(7, 0);
    @include winning-animation(5, 250);
    @include winning-animation(3, 500);
  }
  &.diag-down {
    @include winning-animation(1, 0);
    @include winning-animation(5, 250);
    @include winning-animation(9, 500);
  }
}

// Individual game tiles
.tile {
  background: transparent;
  height: $tile-size--large;
  width: $tile-size--large;
  display: flex;
  transition: all 325ms ease;
  &:hover {
    background: $valid-color;
    cursor: pointer;
  }
  &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
    border-bottom: $tile-spacing solid black;
    border-top: $tile-spacing solid black;
  }
  &:nth-of-type(3n + 2) {
    border-left: $tile-spacing solid black;
    border-right: $tile-spacing solid black;
  }
  &.has-value {
    &:hover {
      background: $negative-color;
    }
  }
}

.tile__content {
  font-size: 6rem;
  font-weight: 300;
  margin: auto;
}



// 
// Announcements
// 
// These include the main container and the message/button within it.
//
.announcement {
  background: $secondary-color;
  display: flex;
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 750ms ease 0ms;
  z-index: -1;
}

.announcement.visible {
  transition: all 750ms ease 1100ms;
  opacity: 1;
  z-index: 1;
}

.announcement__message {
  color: $primary-color;
  font-size: 4rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  opacity: 0;
  animation: fade-in-from-below-letter-spacing 1s ease-in-out 0.3s forwards;
}

// Lists the winner of the match.
.announcement__winner {
  color: $primary-color;
  font-size: 3rem;
  text-align: center;
}

.announcement__content {
  margin: auto;
  text-align: center;
}

.announcement__sub-message {
  font-size: 24px;
  color: $primary-color;
  min-height: 30px;
  opacity: 0;
  animation: fade-in-from-below 1.3s ease-out 0.5s forwards;
}

.turn-text {
  color: $text-color;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  margin-top: 15px;
}

.player {
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 72px;
}



//
// Buttons
//
.btn {
  align-items: center;
  background: transparent;
  border: 3px solid $secondary-color;
  color: $secondary-color;
  outline: none;
  display: flex;
  justify-content: center;
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 250px;
  transition: all 325ms ease;
}

.btn:hover {
  background: $secondary-color;
  color: $primary-color;
  cursor: pointer;
}

.btn--reset {
  position: fixed;
  right: 0;
  top: 0;
}

.btn--reset__announcement {
  border: 3px solid $primary-color;
  color: $primary-color;
  position: static;
  bottom: auto;
  left: auto;
  right: auto;
  top: auto;
  margin: 30px auto;
}

.btn--reset__announcement:hover {
  background: $primary-color;
  border: 3px solid $primary-color;
  color: $secondary-color;
}



// ===========================================
// ANIMATION KEYFRAMES
// ===========================================
@keyframes fade-in-from-below-letter-spacing {
  0% {
    opacity: 0;
    transform: scale(.9) translateY(50%);
    letter-spacing: 5px;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
    letter-spacing: 35px;
  }
}

@keyframes fade-in-from-below {
  0% {
    opacity: 0;
    transform: scale(.9) translateY(70%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}


